body {
  background-color: #65E6E6;
}

header {
  text-align: center;
  margin: 25px auto;
}

h1 {
  font-size: 36px;
  color: #F23054;
  margin: 25px auto;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  color: gray;
  margin: 30px auto;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  margin: 10px auto;
  text-align: left;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  text-align: left;
}

#logo {
  height: 100px;
}

.location-sales {
  margin: 20px auto;
  padding: 10px 100px;
}