body {
  background-color: #65E6E6;
  color: rgb(70, 70, 70);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  text-align: center;
  margin: 25px auto;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #F23054;
  margin: 25px auto;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-size: 24px;
  margin: 30px auto;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin: 10px auto;
  text-align: left;
}

p {
  width: 50%;
  text-align: left;
  margin: 0 auto;
}

table{
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(238, 238, 238)
}

th, td {
  font-size: 16px;
  padding: 10px 10px;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

footer h4, h5{
  margin: 25px auto;
}

.locations-table {
  background-color: rgb(50, 125, 187);
}

.locations-table th{
  font-size: 20px;
  text-align: center;
  width: 150px;
  margin-top: 25px;
  color: white;
}

.header-row {
  font-weight: bold;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

#logo {
  height: 150px;
}

#total {
  color: rgb(2, 192, 49);
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}