body {
  background-color: #65E6E6;
}

header {
  text-align: center;
  margin: 25px auto;
}

h1 {
  font-size: 36px;
  color: #F23054;
  margin: 25px auto;
}

h2 {
  font-size: 24px;
  color: gray;
  margin: 30px auto;
}

#logo {
  height: 100px;
}
